[project]
	description = Source code repository for OpenCMISS-Zinc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Wirtz (rondiplomatico)
[access "refs/for/refs/*"]
	read = group user/Daniel Wirtz (rondiplomatico)
	push = group user/Daniel Wirtz (rondiplomatico)
	label-Code-Review = -2..+2 group user/Daniel Wirtz (rondiplomatico)
	label-Verified = -1..+1 group user/Daniel Wirtz (rondiplomatico)
	rebase = group user/Daniel Wirtz (rondiplomatico)
	removeReviewer = group user/Daniel Wirtz (rondiplomatico)
	submit = group user/Daniel Wirtz (rondiplomatico)
[access "refs/heads/*"]
	read = group user/Daniel Wirtz (rondiplomatico)
	create = group user/Daniel Wirtz (rondiplomatico)
	push = +force group user/Daniel Wirtz (rondiplomatico)
	pushMerge = group user/Daniel Wirtz (rondiplomatico)
[access "refs/tags/*"]
	push = +force group user/Daniel Wirtz (rondiplomatico)
	pushTag = group user/Daniel Wirtz (rondiplomatico)
	pushSignedTag = group user/Daniel Wirtz (rondiplomatico)
