#include <windows.h>

#define IDC_COMMAND_HISTORY       10000
#define IDC_COMMAND_ENTRY         10001
#define IDC_COMMAND_OUTPUT_PANE  10002

#define IDM_NEW                   50000
#define IDM_OPEN                  50001
#define IDM_SAVE                  50002
#define IDM_SAVEAS                50003
#define IDM_PRINT                 50004
#define IDM_PRINTSETUP            50005
#define IDM_EXIT                  50006
#define IDM_UNDO                  50007
#define IDM_CUT                   50008
#define IDM_COPY                  50009
#define IDM_PASTE                 50010
#define IDM_LINK                  50011
#define IDM_LINKS                 50012
#define IDM_HELPTOPICS            50013
#define IDM_ABOUT                 50014

#if defined RC_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

Command_window_icon ICON "command/icon1.ico"
Command_window_icon_small ICON "command/icon1.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

Command_window_menu MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", IDM_NEW, GRAYED
  MENUITEM "&Open...", IDM_OPEN, GRAYED
  MENUITEM "&Save", IDM_SAVE, GRAYED
  MENUITEM "Save &As...", IDM_SAVEAS, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Print...", IDM_PRINT, GRAYED
  MENUITEM "P&rint Setup...", IDM_PRINTSETUP, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "E&xit", IDM_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo\tCtrl+Z", IDM_UNDO, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Cu&t\tCtrl+X", IDM_CUT, GRAYED
  MENUITEM "&Copy\tCtrl+C", IDM_COPY, GRAYED
  MENUITEM "&Paste\tCtrl+V", IDM_PASTE, GRAYED
  MENUITEM "Paste &Link", IDM_LINK, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Lin&ks...", IDM_LINKS, GRAYED
 }

 POPUP "&Help", HELP
 {
  MENUITEM "&Help Topics...", IDM_HELPTOPICS
  MENUITEM SEPARATOR
  MENUITEM "&About Generic...", IDM_ABOUT
 }

}

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//



/////////////////////////////////////////////////////////////////////////////
//
// Version
//



/////////////////////////////////////////////////////////////////////////////
//
// Data
//

Command_window DIALOG 19, 33, 250, 235
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS Command_window
CAPTION "Command Window"
MENU Command_window_menu
FONT 12, "MS Sans Serif"
{
 LISTBOX  IDC_COMMAND_HISTORY, 0, 0, 250, 100, LBS_NOTIFY | WS_BORDER | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 EDITTEXT IDC_COMMAND_ENTRY, 0, 100, 250, 18, WS_BORDER 
 EDITTEXT IDC_COMMAND_OUTPUT_PANE, 0, 118, 250, 117, ES_MULTILINE | ES_AUTOVSCROLL | NOT WS_TABSTOP | WS_BORDER | WS_VSCROLL | WS_HSCROLL
}
#endif /* defined RC_INVOKED */

