#include <winresrc.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION @ZINC_VERSION_MAJOR@, @ZINC_VERSION_MINOR@, @ZINC_VERSION_PATCH@, 0
  PRODUCTVERSION @ZINC_VERSION_MAJOR@, @ZINC_VERSION_MINOR@, @ZINC_VERSION_PATCH@, 0
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
  FILEFLAGS 0
#endif
  FILEOS VOS_NT_WINDOWS32
#ifdef OPENOBEX_EXPORTS
  FILETYPE VFT_DLL
#else
  FILETYPE VFT_STATIC_LIB
#endif
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "04090000"
      BEGIN
        VALUE "FileDescription", "OpenCMISS-Zinc visualisation library"
        VALUE "FileVersion", "@ZINC_VERSION@"
        VALUE "InternalName", "zinc"
        VALUE "LegalCopyright", "Licensed under a license"
        VALUE "OriginalFilename", "zinc.dll"
        VALUE "ProductName", "Zinc"
        VALUE "ProductVersion", "@ZINC_VERSION@"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END
