include ${OPENCMISS_PYTHON_PACKAGE}/${ZINC_PYTHON_PACKAGE}/*.so ${OPENCMISS_PYTHON_PACKAGE}/${ZINC_PYTHON_PACKAGE}/*.pyd
include ${OPENCMISS_PYTHON_PACKAGE}/${ZINC_PYTHON_PACKAGE}/*zinc*.dll* ${OPENCMISS_PYTHON_PACKAGE}/${ZINC_PYTHON_PACKAGE}/*zinc*.so* ${OPENCMISS_PYTHON_PACKAGE}/${ZINC_PYTHON_PACKAGE}/*zinc*.dylib
