/*******************************************************************************
FILE : acquisition_window.rc

LAST MODIFIED : 26 March 1997

DESCRIPTION :
==============================================================================*/
#include "windows.h"

/*
Icons
-----
*/

/*
Menus
-----
*/

/*
Accelerators
------------
*/

/*
Versions
--------
*/

/*
Data
----
*/
Acquisition_window DIALOG 19, 33, 218, 229
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|
	WS_MAXIMIZEBOX
CLASS "Acquisition_window"
CAPTION "Acquisition Window"
{
	PUSHBUTTON "Close",1,50,50,50,50
}
