/*******************************************************************************
FILE : page_window.rc

LAST MODIFIED : 21 January 2002

DESCRIPTION :
==============================================================================*/
#include "windows.h"

/*
Identifiers
-----------
*/
#define AUTO_RANGE_BUTTON 1
#define CALIBRATE_BUTTON 2
#define CLOSE_BUTTON 3
#define ELECTRODE_ARROWS 4
#define ELECTRODE_EDIT 5
#define ELECTRODE_TEXT 6
#define EXPERIMENT_CHECKBOX 7
#define FULL_RANGE_BUTTON 8
#define GAIN_EDIT 9
#define GAIN_TEXT 10
#define ISOLATE_CHECKBOX 11
#define LOW_PASS_FILTER_EDIT 12
#define LOW_PASS_FILTER_TEXT 13
#define MAXIMUM_EDIT 14
#define MAXIMUM_TEXT 15
#define MINIMUM_EDIT 16
#define MINIMUM_TEXT 17
#define PACING_BUTTON 18
#define SAMPLE_CHECKBOX 19
#define SAVE_BUTTON 20
#define SAVE_NUMBER_OF_SAMPLES_EDIT 21
#define SCROLLING_CHECKBOX 22
#define START_ALL_STIMULATORS_BUTTON 23
#define STIMULATE_CHECKBOX 24
#define STIMULATOR_CHECKBOX 25
#define STOP_ALL_STIMULATORS_BUTTON 26
#define TEST_CHECKBOX 27

#ifdef OLD_CODE
#define CALIBRATE_BUTTON 1
#define CHANNEL_ARROWS 2
#define CHANNEL_EDIT 3
#define CHANNEL_TEXT 4
#define EXPERIMENT_CHECKBOX 5
#define EXIT_BUTTON 6
#define GAIN_EDIT 7
#define GAIN_TEXT 8
#define ISOLATE_CHECKBOX 9
#define LOW_PASS_FILTER_EDIT 10
#define LOW_PASS_FILTER_TEXT 11
#define MAXIMUM_EDIT 12
#define MAXIMUM_TEXT 13
#define MINIMUM_EDIT 14
#define MINIMUM_TEXT 15
#define RESET_SCALE_BUTTON 16
#define SAMPLE_CHECKBOX 17
#define SAVE_BUTTON 18
#define SCALE_BUTTON 19
#define STIMULATE_CHECKBOX 20
#define STIMULATE_CHANNEL_ARROWS 21
#define STIMULATE_CHANNEL_EDIT 22
#define STIMULATOR_ARROWS 23
#define STIMULATOR_TEXT 24
#define TEST_CHECKBOX 25
#endif /* #ifdef OLD_CODE */

#ifdef RC_INVOKED
/*
Icons
-----
*/

/*
Menus
-----
*/

/*
Accelerators
------------
*/

/*
Versions
--------
*/

/*
Data
----
*/
Page_window DIALOG 1,1,545,300
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|
	WS_MAXIMIZEBOX
CLASS "Page_window"
CAPTION "Acquisition"
{
	CHECKBOX "&Experiment",EXPERIMENT_CHECKBOX,0,0,50,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "&Isolate",ISOLATE_CHECKBOX,55,0,35,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "&Sample",SAMPLE_CHECKBOX,95,0,35,10,BS_LEFT|BS_AUTOCHECKBOX
	PUSHBUTTON "S&ave",SAVE_BUTTON,135,0,20,10,BS_LEFT
	EDITTEXT SAVE_NUMBER_OF_SAMPLES_EDIT,160,0,25,10
	PUSHBUTTON "&Calibrate",CALIBRATE_BUTTON,190,0,35,10,BS_LEFT
	CHECKBOX "&Test",TEST_CHECKBOX,230,0,25,10,BS_LEFT|BS_AUTOCHECKBOX
	LTEXT "Low pass:",LOW_PASS_FILTER_TEXT,260,0,35,10
	EDITTEXT LOW_PASS_FILTER_EDIT,300,0,25,10
	PUSHBUTTON "C&lose",CLOSE_BUTTON,320,0,25,10,BS_LEFT

	PUSHBUTTON "A&uto range",AUTO_RANGE_BUTTON,0,15,40,10,BS_LEFT
	PUSHBUTTON "&Full range",FULL_RANGE_BUTTON,45,15,40,10,BS_LEFT
	PUSHBUTTON "S&tart all stimulators",START_ALL_STIMULATORS_BUTTON,90,15,70,10,BS_LEFT
	PUSHBUTTON "St&op all stimulators",STOP_ALL_STIMULATORS_BUTTON,165,15,70,10,BS_LEFT
	PUSHBUTTON "&Pacing",PACING_BUTTON,240,15,30,10,BS_LEFT

	LTEXT "Electrode:",ELECTRODE_TEXT,0,30,35,10
	EDITTEXT ELECTRODE_EDIT,40,30,20,10
	CHECKBOX "&Scrolling",SCROLLING_CHECKBOX,65,30,45,10,BS_LEFT|BS_AUTOCHECKBOX
	LTEXT "Gain:",GAIN_TEXT,115,30,20,10
	EDITTEXT GAIN_EDIT,140,30,30,10
	LTEXT "Minimum:",MINIMUM_TEXT,175,30,35,10
	EDITTEXT MINIMUM_EDIT,215,30,30,10
	LTEXT "Maximum:",MAXIMUM_TEXT,250,30,35,10
	EDITTEXT MAXIMUM_EDIT,290,30,30,10
	CHECKBOX "Stimulate",STIMULATE_CHECKBOX,325,30,40,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "Stimulator",STIMULATOR_CHECKBOX,370,30,45,10,BS_LEFT|BS_AUTOCHECKBOX
/*
	CHECKBOX "&Experiment",EXPERIMENT_CHECKBOX,0,0,50,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "&Isolate",ISOLATE_CHECKBOX,55,0,40,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "&Sample",SAMPLE_CHECKBOX,100,0,35,10,BS_LEFT|BS_AUTOCHECKBOX
	PUSHBUTTON "S&ave",SAVE_BUTTON,140,0,20,10,BS_LEFT
	PUSHBUTTON "&Calibrate",CALIBRATE_BUTTON,140,0,35,10,BS_LEFT
	LTEXT "Stimulator:",STIMULATOR_TEXT,180,0,45,10
	CHECKBOX "Stimulate:",STIMULATE_CHECKBOX,230,0,40,10,BS_LEFT|BS_AUTOCHECKBOX
	EDITTEXT STIMULATE_CHANNEL_EDIT,275,0,20,10
	CHECKBOX "&Test",TEST_CHECKBOX,300,0,30,10,BS_LEFT|BS_AUTOCHECKBOX
	LTEXT "Low pass:",LOW_PASS_FILTER_TEXT,335,0,40,10
	EDITTEXT LOW_PASS_FILTER_EDIT,380,0,25,10
	PUSHBUTTON "E&xit",EXIT_BUTTON,405,0,18,10,BS_LEFT
	LTEXT "Electrode:",CHANNEL_TEXT,0,15,40,10
	EDITTEXT CHANNEL_EDIT,45,15,20,10
	LTEXT "Gain:",GAIN_TEXT,70,15,25,10
	EDITTEXT GAIN_EDIT,100,15,30,10
	PUSHBUTTON "Sca&le",SCALE_BUTTON,135,15,23,10,BS_LEFT
	PUSHBUTTON "&Reset scale",RESET_SCALE_BUTTON,165,15,43,10,BS_LEFT
	LTEXT "Minimum:",MINIMUM_TEXT,215,15,35,10
	EDITTEXT MINIMUM_EDIT,240,15,30,10
	LTEXT "Maximum:",MAXIMUM_TEXT,265,15,36,10
	EDITTEXT MAXIMUM_EDIT,280,15,30,10
*/
/*
	CHECKBOX "&Experiment",EXPERIMENT_CHECKBOX,0,0,50,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "&Isolate",ISOLATE_CHECKBOX,55,0,40,10,BS_LEFT|BS_AUTOCHECKBOX
	CHECKBOX "&Sample",SAMPLE_CHECKBOX,100,0,35,10,BS_LEFT|BS_AUTOCHECKBOX
	PUSHBUTTON "S&ave",SAVE_BUTTON,140,0,20,10,BS_LEFT
	LTEXT "Electrode:",CHANNEL_TEXT,165,0,40,10
	EDITTEXT CHANNEL_EDIT,210,0,20,10
	LTEXT "Gain:",GAIN_TEXT,235,0,25,10
	EDITTEXT GAIN_EDIT,265,0,30,10
	PUSHBUTTON "Sca&le",SCALE_BUTTON,300,0,23,10,BS_LEFT
	PUSHBUTTON "&Reset scale",RESET_SCALE_BUTTON,330,0,43,10,BS_LEFT
	LTEXT "Minimum:",MINIMUM_TEXT,380,0,35,10
	EDITTEXT MINIMUM_EDIT,405,0,30,10
	LTEXT "Maximum:",MAXIMUM_TEXT,430,0,36,10
	EDITTEXT MAXIMUM_EDIT,445,0,30,10
	PUSHBUTTON "&Calibrate",CALIBRATE_BUTTON,0,15,35,10,BS_LEFT
	LTEXT "Stimulator:",STIMULATOR_TEXT,40,15,45,10
	CHECKBOX "Stimulate:",STIMULATE_CHECKBOX,90,15,40,10,BS_LEFT|BS_AUTOCHECKBOX
	EDITTEXT STIMULATE_CHANNEL_EDIT,135,15,20,10
	CHECKBOX "&Test",TEST_CHECKBOX,160,15,30,10,BS_LEFT|BS_AUTOCHECKBOX
	LTEXT "Low pass:",LOW_PASS_FILTER_TEXT,195,15,40,10
	EDITTEXT LOW_PASS_FILTER_EDIT,240,15,25,10
	PUSHBUTTON "E&xit",EXIT_BUTTON,279,15,18,10,BS_LEFT
*/
}
#endif /* #ifdef RC_INVOKED */
